body {
  background-image: url(assets/bg8.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
/* START OF NAVBAR CSS **/
#font-name {
  position: relative;
  left: 3%;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 600 ;
  letter-spacing: 3px;
  color: #4aba9d;
  padding: 20px;
}

#logo {
  position: relative;
  left: 3%;
}

.nav-item {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 600;
  padding: 20px;
}

.nav-hover-effect:hover {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

@media screen and (min-width: 1000px) {
  #font-name {
    position: relative;
    left: 8%;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 600 ;
    letter-spacing: 3px;
    color: #4aba9d;
    padding: 20px;
  }
  #logo {
    position: relative;
    left: 8%;
  }
  .nav-item {
    position: relative;
    right: 20%;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 600;
    padding: 20px;
  }
}
/*-- END OF NAVBAR CSS */

#main {
  background: none;
  padding-top: 5%;
}

 .fonts {
   font-family: 'Julius Sans One', sans-serif;
 }

.word {
  color: #4aba9d;
}

#intro {
  text-align: center;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 900;
  letter-spacing: 1vw;
  padding: 20px;
}

.line:after,
.line:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
    color: #464646;
}
