body {
  background-image: url(assets/bg8.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
/* START OF NAVBAR CSS **/
#font-name {
  position: relative;
  left: 3%;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 600 ;
  letter-spacing: 3px;
  color: lightSeaGreen;
  padding: 20px;
}

#logo {
  position: relative;
  left: 3%;
}

.nav-item {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 600;
  padding: 20px;
}

.nav-hover-effect:hover {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

@media screen and (min-width: 1000px) {
  #font-name {
    position: relative;
    left: 8%;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 600 ;
    letter-spacing: 3px;
    color: lightSeaGreen;
    padding: 20px;
  }
  #logo {
    position: relative;
    left: 8%;
  }
  .nav-item {
    position: relative;
    right: 20%;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 600;
    padding: 20px;
  }
}

.bg-light {
  background: transparent !important;
}

.bg-light.scrolled {
  background: #f2f1ed !important;
}
/*-- END OF NAVBAR CSS */

#main {
  background: none;
  padding-top: 5%;
  margin-bottom: 20vw;
}

 .fonts {
   font-family: 'Julius Sans One', sans-serif;
 }

.word {
  color: lightSeaGreen;
}

#intro {
  text-align: center;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 900;
  letter-spacing: 1vw;
  padding: 20px;
}

.line:after,
.line:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
}

#myprofile {
  background-color: white;
}

.fonts {
  font-family: 'Roboto', sans-serif;
}

.abt {
  font-weight: 700;
  padding: 2vw;
  background-color: ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.abt p {
   margin: 0;
}

.abt-2 {
  font-weight: 400;
  padding: 2vw;
  display: flex;
  align-items: center
}

.abt-2 p {
   margin: 0;
}

.prfl {
  padding: 2vw;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prfl p {
  font-weight: 700;
  font-size: 4em;
  color: lightSeaGreen;
  margin: 0;
}

.descrip {
  display: flex;
  align-items: center;
  justify-content: center;
}

.descrip p {
  font-weight: 700;
  margin: 0;
}

.details-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-title h3 {
  font-weight: 700;
  margin: 0;
  color: lightSeaGreen;
}

.my-img {
  padding:2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-img img {
  border-radius: 50%;
}

.my-details {
  padding: 2vw;
}

.details-bold p {
  margin: 0;
  padding: 0.2vw;
}

.my-details p {
  margin: 0;
  padding: 0.2vw;
}

.details-bold {
  font-weight: bold;
}

.my-details-2 {
  padding: 2vw;
}

.my-details-2 p {
  margin: 0;
  padding: 0.2vw;
}

#myexperiences {
  background-image: url(assets/pink.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.exp {
  padding: 2vw;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exp p {
  color: lightSeaGreen;
  font-weight: 700;
  font-size: 4em;
  margin: 0;
}

#expcontainer {
  border: 2px solid white;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
}

.education {
  padding: 3vw;
  padding-bottom: 2vw;
}

.education h3 {
  font-weight: 700;
  margin: 0;
  color: lightSeaGreen;
}

.expr-2 {
  padding: 3vw;
  padding-top: 0;
  padding-bottom: 0;
}

.expr-2 p {
  text-align: center;
  margin: 0;
  color: white;
}

.expr {
  padding: 1vw;
}
